* {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  opacity: 0.95;
  overflow: hidden;
  background: hsla(0, 0%, 64%, 0.55);
}
*::-webkit-scrollbar-thumb {
  background: hsl(217, 7%, 45%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-size: 16px; /* 1rem */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* example content area */
#root main>div {
  min-height: 100vh;
  padding: 24px;
  box-sizing: border-box;
}